.btn {
  text-decoration: none;
  background: linear-gradient(90deg, #f45c05 0, #3726a6 100%);
  color: white;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
}

.btn:hover {
  background: #3726a6;
}

.btn:active {
  background: #5848bc;
}
